/Multithreading/nbproject/private/
/Multithreading/build/
/Snake/nbproject/private/
/Snake/build/
/Animation/dist/
/DrawingTimer/nbproject/private/
/DrawingTimer/build/
/BottleMachine/nbproject/private/
/BottleMachine/build/