/Multithreading/nbproject/private/
/Multithreading/build/
/Snake/nbproject/private/
/Snake/build/
/Animation/dist/
/DrawingTimer/nbproject/private/
/DrawingTimer/build/
/BottleMachine/nbproject/private/
/BottleMachine/build/
/Priority/nbproject/private/
/Priority/build/
/Pong/nbproject/private/
/Pong/build/
/Pong/dist/
/words/nbproject/private/
/hackerank/nbproject/private/
/hackerank/build/
/repetition/nbproject/private/
/repetition/build/
/Spinner/nbproject/private/
/Spinner/build/
/Spinner/dist/
/Rzipper/nbproject/private/
/Rzipper/build/
/FileRepetition/nbproject/private/
/FileRepetition/build/
/Rserializacja/nbproject/private/
/Rserializacja/build/
/RzipEntry/nbproject/private/
/RzipEntry/build/
/RDrawing/nbproject/private/
/RDrawing/build/
/RDrawing/dist/
/RThreading/nbproject/private/
/RThreading/build/
/RThreadBottles/nbproject/private/
/RThreadBottles/build/
/AdvancedBrudnopis/nbproject/private/
/AdvancedBrudnopis/build/
/wlodarczyk/nbproject/private/
/WordScanner/nbproject/private/
/WordScanner/build/
/AdvancedBrudnopis/dist/
/WordScanner/dist/